body{ background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
@font-face {
    font-family: OldFolksShuffle;
    src: url(../fonts/OldFolksShuffle.ttf);
}
@font-face {
    font-family: Bigdey;
    src: url(../fonts/Bigdey.ttf);
}
@font-face {
    font-family: ComfortaaRegular;
    src: url(../fonts/ComfortaaRegular.ttf);
}
.mrg-top-25{margin-top:25px}
.carouselbody {padding:20px 0}
.carouselbody h2{color: #920303;letter-spacing: 5;}
.carousel-3d .slide-3d {border-color: #92030375;}
h2{font-family: OldFolksShuffle}

#inviationbody{
  background: url(../images/invitationbg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#inviationbody {min-height:460px;margin-bottom: 50px;}
#inviationbody h2{color: #920303;letter-spacing: 5;padding:20px 0;}
.invitation-content {position: absolute;right:258;}
.invitation-content h1{color:#920303;text-align: center;font-family: Bigdey;}
.invitation-content p{color:#920303;text-align: center;font-family: ComfortaaRegular;letter-spacing: 0.7px;}


Main components

-------------------------------- */

#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

#cd-timeline::before {
    content: '';
    position: absolute;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #fff!important;
    border-right: 1px dashed #ccc;
}

@media only screen and (min-width: 1170px) {
    #cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

.cd-timeline-block {
    position: relative;
    margin: 0;
    z-index: 2;
}

.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-block:first-child {
    margin-top: 0;
}

.cd-timeline-block:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: 0;
    }
    .cd-timeline-block:first-child {
        margin-top: 0;
    }
    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
}

.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.cd-timeline-img img {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
}

.cd-timeline-img.cd-picture {
    box-shadow: 0 0 0 7px white, inset 0 0px 0 rgba(0, 0, 0, 0.08), 0 0 0px 8px #ddd;
}

.cd-timeline-img.cd-movie {
    background: #222;
    box-shadow: 0 0 0 8px white;
    width: 150px;
    height: 150px;
    left: 0;
    position: relative;
    margin: 0 auto 100px;
}

.cd-timeline-img.cd-movie img.timeline-logo {}

.cd-timeline-img.cd-location {
    background: #7fbb00;
    margin-top: -160px;
    z-index: 2;
    box-shadow: 0 0 0 10px white, inset 0 0px 0 rgba(0, 0, 0, 0.08), 0 0px 20px 10px rgba(0, 0, 0, 0.3);
}

.cd-timeline-img h2 {
    text-align: center;
    color: white;
    font-size: 1.3em;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    height: 45px;
    line-height: 45px;
        font-family: ComfortaaRegular;
}

.cd-timeline-img h2 span {
    line-height: 60px;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
        width: 200px;
        height: 200px;
        left: 50%;
        top: 40px;
        margin-left: -100px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
    .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-1 0.6s;
        -moz-animation: cd-bounce-1 0.6s;
        animation: cd-bounce-1 0.6s;
    }
}

@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -moz-transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -moz-transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
    }
}

@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: #fff;
    border-radius: 0.25em;
    padding: 1em;
    color: #777;
}

.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-content h2 {
    color: #3E3D39!important;
    font-size: 1.3em;
    letter-spacing: 3px;
    font-family: ComfortaaRegular;
}

.cd-timeline-content h3 {
    font-family: ComfortaaRegular;
    color: #ccc;
    font-size: 13px;
    margin: 15px -40px 0 -40px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 0px 40px;
}

.cd-timeline-content p,
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
    font-size: 14px;
}

.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
    display: inline-block;
}

.cd-timeline-content p {
    margin: 1em 0;
    color: #777;
    line-height: 1.7em;
    font-weight: 300;
}

.cd-timeline-content .cd-read-more {
    float: right;
    padding: .8em 1em;
    background: #acb7c0;
    color: white;
    border-radius: 0.25em;
}

.no-touch .cd-timeline-content .cd-read-more:hover {
    background-color: #bac4cb;
}

.cd-timeline-content .cd-date {
    float: left;
    padding: .8em 0;
    opacity: .7;
}

.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-right: 19px solid white;
}

@media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {}
    .cd-timeline-content p {
        font-size: 14px;
        font-weight: normal;
    }
    .cd-timeline-content .cd-read-more,
    .cd-timeline-content .cd-date {
        font-size: 14px;
        font-size: 0.875rem;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        margin-left: 0;
        padding: 20px 40px;
        width: 39%;
        text-align: right;
    }
    .cd-timeline-content::before {
        top: 47px;
        left: 97%;
        border-color: transparent;
        border-left-color: white;
        display: none;
    }
    .cd-timeline-content .cd-read-more {
        float: left;
    }
    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 16px;
        font-size: 1rem;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
        text-align: left;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: white;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        -moz-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s;
    }
}

@media only screen and (min-width: 1170px) {
    /* inverse bounce effect on even content blocks */
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        -webkit-animation: cd-bounce-2-inverse 0.6s;
        -moz-animation: cd-bounce-2-inverse 0.6s;
        animation: cd-bounce-2-inverse 0.6s;
    }
}
#location {
    padding: 20px 70px;
    margin: 50px 0;
}
.inv-mrg-top {padding-top:50px;}
#location iframe{box-shadow: 0px 0px 10px #404040;border-top-left-radius: 25px;border-bottom-right-radius: 25px;}

.address-area h2{color:#920303;text-align: center;margin-top: 10px;letter-spacing: 5;}
.address-img img{margin:0px auto;}
.address-details {position: absolute;top: 30%;left: 32%;}
.address-details p{
    color: #920303;
    text-align: center;
    font-family: ComfortaaRegular;
    letter-spacing: 0.7px;
}
@media (max-width: 425px) and (min-width: 320px) {
  .invitation-content {
    position: relative !important;
    right: 0;
}
.inv-mrg-top {margin-top:90px !important;}
#inviationbody h2 {
    font-size: 18px !important;
}
.address-img img {padding-top:  40px;  }
.address-details {
    top: 27% !important;
    left: 30% !important;
}
}


/* Mobile View CSS */
@media (max-width: 450px) and (min-width: 375px) {
  .mobile-view img {height:280px !important;}
}
.mobile-view {overflow:hidden; margin-bottom:20px;}
.mobile-view img {width:100%; height:200px; border-radius:50%; box-shadow: 0 0 0 7px white, inset 0 0px 0 rgba(0, 0, 0, 0.08), 0 0 0px 8px #ddd; margin-top:15px;}

.cd-timeline-content2 {
    position: relative;
    background: #fff;
    border-radius: 0.25em;
    padding: 1em;
    color: #777; margin-top:27px; border-radius:6px;
}

.cd-timeline-content2:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-content2 h2 {
    color: #3E3D39!important;
    font-size: 1.3em;
    letter-spacing: 3px;
    font-family: ComfortaaRegular;
}

.cd-timeline-content2 h3 {
    font-family: ComfortaaRegular;
    color: #ccc;
    font-size: 13px;
    margin: 15px -40px 0 -40px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 0px 40px;
}

.cd-timeline-content2 p,
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
    font-size: 14px;
}

.cd-timeline-content2 .cd-read-more,
.cd-timeline-content2 .cd-date {
    display: inline-block;
}

.cd-timeline-content2 p {
    margin: 1em 0;
    color: #777;
    line-height: 1.7em;
    font-weight: 300;
}

.cd-timeline-content2 .cd-read-more {
    float: right;
    padding: .8em 1em;
    background: #acb7c0;
    color: white;
    border-radius: 0.25em;
}

.no-touch .cd-timeline-content2 .cd-read-more:hover {
    background-color: #bac4cb;
}

.cd-timeline-content2 .cd-date {
    float: left;
    padding: .8em 0;
    opacity: .7;
}

.cd-timeline-content2::before {
    content: '';
    position: absolute;
    top: -28px;
    right: 47%;
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-bottom: 19px solid white;
}

@media only screen and (min-width: 768px) {
    .cd-timeline-content2 h2 {}
    .cd-timeline-content2 p {
        font-size: 14px;
        font-weight: normal;
    }
    .cd-timeline-content2 .cd-read-more,
    .cd-timeline-content2 .cd-date {
        font-size: 14px;
        font-size: 0.875rem;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-content2 {
        margin-left: 0;
        padding: 20px 40px;
        width: 39%;
        text-align: right;
    }
    .cd-timeline-content2::before {
        top: 47px;
        left: 97%;
        border-color: transparent;
        border-left-color: white;
        display: none;
    }
    .cd-timeline-content2 .cd-read-more {
        float: left;
    }
    .cd-timeline-content2 .cd-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 16px;
        font-size: 1rem;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content2 {
        float: right;
        text-align: left;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content2::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: white;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content2 .cd-read-more {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content2 .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
    .cssanimations .cd-timeline-content2.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-content2.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        -moz-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s;
    }
}

@media only screen and (min-width: 1170px) {
    /* inverse bounce effect on even content blocks */
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content2.bounce-in {
        -webkit-animation: cd-bounce-2-inverse 0.6s;
        -moz-animation: cd-bounce-2-inverse 0.6s;
        animation: cd-bounce-2-inverse 0.6s;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    #location{padding:0;margin-bottom: 20px;}
}
.carousel-3d .slide-3d figure figcaption {display: none !important}
